.sidebar {
	padding: 100px 0;
}

.searchbar {
	width: 100%;
}

.bgimage {
	position: relative;
	height: 100%;
}

.block {
	padding: 80px 0;
}

.comofuncblock {
	background-color: #5ddebd;
}

.browserblock {
	background-color: white;
}

.reportcontainer {
	padding: 50px;
	max-width: 100%;
	width: 925px;
}

.innercard {
	width: 100%;
}

.svgtempfigma {
	width: 100%;
}

.fadeenter {
	opacity: 1;
	transition: opacity 500ms;
}

.fadeexit {
	opacity: 0;
	transition: opacity 500ms;
}

.fadeenteractive {
	opacity: 0;
	transition: opacity 500ms;
}

.fadeexitactive {
	opacity: 1;
	transition: opacity 500ms;
}